body {
    font-family: sans-serif;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #eef;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

#spec {
    display: inline-block;
    text-align: center;
    width: 600px;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin: 0px auto 5px auto;
    vertical-align: text-top;
}

.option {
    display: block;
    white-space: nowrap;
}

.option input {
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}

#output {
    width: 600px;
    padding: 0px;
    margin: 5px auto 0px auto;
}

#output li {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    font-size: 14px;
    height: 16px;
}

input.invalid {
    box-shadow: 0px 0px 3px 3px pink;
}

#reference {
    display: none;
    text-align: left;
    font-size: 11px;
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
    margin: 5px auto;
}

.symbol {
    display: inline-block;
    width: 20px;
    font-weight: bold;
    text-align: center;
}

#instructions {
    width: 610px;
    margin: -7px auto;
    text-align: left;
}

#instructions a {
    text-decoration: none;
    font-size: 11px;
}
