body {
    font-family: sans-serif;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #eef;
}

#spec {
    text-align: center;
    width: 600px;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

#output {
    width: 600px;
    padding: 0px;
    margin: 20px auto;
}

#output li {
    display: inline-block;
    width: 150px;
    overflow: hidden;
}

input.invalid {
    box-shadow: 0px 0px 3px 3px pink;
}
